@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Matemasie&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #1c1e21;
  font-family: ubuntu-regular;
  font-family: "Ubuntu", sans-serif;
  width:  100%;

}